html {
    background-color: rgb(52, 137, 163);
}

* {
    position: relative;
}

textarea {
    resize: none;
}

img {
    height: auto;
    width: 150px;
    top: 35px
}

body {
    display: flex;
    flex-direction: column;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit {
    top: 30px;
}
