@font-face {
    font-family: "Sour Gummy";
    src: url("../fonts/SourGummy-VariableFont_wdth\,wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Sour Gummy";
    src: url("../fonts/SourGummy-Italic-VariableFont_wdth\,wght.ttf");
    font-style: italic;
}

